.navbar {
    background: rgb(65,64,65);
    background: linear-gradient(143deg, rgba(65,64,65,1) 0%, rgba(30,29,32,1) 69%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 7vh;
  }
  
  .logoContainer {
  
    height: 7vh;
  }
  
  .logo {
    color: #FF5733;
  }
  
  .search {
    color: #FF5733!important;
  }
  
  .username {
    color: #FF5733!important;
    margin-right: 15px;
  }
  
  .notifs {
    width: 25px;
    height: 25px;
  }
  
  .sidebar {
    background: rgb(65,64,65);
    background: linear-gradient(143deg, rgba(65,64,65,1) 0%, rgba(30,29,32,1) 69%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 100vh;
    width: 2vw!important;
  }
  
  .sidebar:hover {
    width: 8vw!important;
  }
  
  .sidebar:hover .sideNames{
    display: block;
  }
  
  .sideBrowsing {
    height: 5vh;
    /* border: 1px solid white; */
    margin: 0!important;
    color: #FF5733;
    font-size: 10px;
  }
  
  .sidebarContainer {
    height: 20%;
  }
  
  .sideNames {
    display: none;
  }
  .emptyGrid {
    height: 2vh;
  }
  .divider {
    width: 100%;
  }
  
  .sideBrowsing:hover {
    color: white;
  }
  
  .username:hover {
    color: white!important;
    cursor: pointer;
  }
  
  .menuButton:hover .menuItems{
    display: block;
  }
  
  .menuItem {
    color: #FF5733!important;
  }
  
  .menuItem:hover {
    background-color: #FF5733!important;
    color: whitesmoke!important;
  }